{% extends 'mainapp/base.html' %}

{% block content %}

<div class="container" style="background-color: #FFE4E1;">
    <div class="card mb-3" style="max-width: 100%;">
                    <div class="row g-0" style="background-color: #FFE4E1;">
                        <div class="col-md-4">

                            <img class="card-img" alt="Обложка" src="../../../{{ book.bookimage }}">
                            <h6 style="text-align: center">Краткая информация</h6>
                            <p>Формат: {{ book.get_format_display }}<br>
                            Страниц: {{ book.pages }}<br>
                            Автор: {{book.avtor}}
                            </p>

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">{{ book.name }}</h3>
                                <p class="card-text"></p><p>{{ book.desc }}</p>


                                <br>





                                 {% if user.is_authenticated %}
    <a href="{% url 'basket:add' book.id %}"
       class="btn btn-success" style="background-color: LightSalmon; color: #000000;">
        Купить книгу
    </a>
    {% else %}
    <p class="">Что бы купить или скачать книгу авторизируйтесь</p>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="../../../{{ book.document }}" style="background-color: darkSalmon; color: #000000;" class="btn btn-success" download>Скачать файл</a>
    {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
</div>
<div class="container">
</div>
<br>
<br>
{% endblock %}

